@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: rgb(90, 88, 88);
  font-family: 'Open Sans', sans-serif;
}

.nav-item .btn {
  display: inline-block;
  text-align: center;
  width: 150px;
}

.back {
  background: rgb(90, 88, 88);
}

.logo {
  height: 60px;
  width: 60px;
}

#google-auth {
  height: 50px;
  width: 15%;
  margin-left: 10px;
}

.hide {
  display: none;
}

