.pinCard {
  margin: 1rem;
}

#back-to-boards {
  position: sticky;
  top: 1rem;
  z-index: 1;
}

.delete-pin {
  position: absolute;
  top: 4px;
  right: 4px;
}

.pinTitle {
  font-size: 3em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}



